{% extends "layout.html" %}
{% block mobile_responsive %}
{% if processor.startswith('image') %}
<meta name="viewport" content="width=device-width, user-scalable=yes" />
{% else %}
<meta name="viewport" content="width=device-width, user-scalable=no" />
{% endif %}
{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='view-mobile.css') }}" />
{% endblock %}
{% block content %}
<div class="media-wrapper">
    <div class="media">
        {% include fragment %}
    </div>
</div>
<div class="center small clearfix">
    <ul class="inline">
        <li><a href="/{{ filename }}/direct">Direct Link</a></li>
        <li><a href="/download/{{ original }}">Download</a></li>
    </ul>
</div>
{% endblock %}
{% block feedback %}{% endblock %}
