{% extends "layout.html" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='troubleshooting.css') }}?version=2" />
{% endblock %}
{% block scripts %}
<script src="/static/troubleshooting.js"></script>
{% endblock %}
{% block content %}
<h1>Troubleshooting</h1>
<p>MediaCrush relies on a lot of new technologies to get you videos. For the majority of our users, this isn't a problem. However,
some users have trouble playing our videos. If videos aren't playing well for you, it might be one of the following problems:</p>
<ul>
    <li>Your web browser is not up-to-date
    <ul><li>If you're on IE, we suggest <a href="http://abetterbrowser.org/">switching to an alternative</a>, or updating to at least IE 11.</li></ul>
    </li>
    <li>Your system is missing codecs
        <ul>
            <li>On Windows, try installing <a href="http://www.videolan.org/" target="_blank">VLC</a>. It installs a lot of useful codecs.</li>
            <li>On Linux, install all the ffmpeg browser packages for your selected web browser.
                <ul>
                    <li>Using Firefox? Install all the gstreamer packages and search for "gstreamer" in about:config to enable it.</li>
                    <li>Using Chromium? Install ffmpeg-chromium-extra (it might be different on your system).</li>
                </ul>
            </li>
            <li>On Mac, <a href="http://www.videolan.org/" target="_blank">VLC</a> is your best bet, too.</li>
        </ul>
    </li>
    <li>On mobile? Try using the latest Chrome or Firefox for your device instead of the built-in browser.</li>
</ul>
{% endblock %}
